.App {
  font-family: sans-serif;
  text-align: center;
}

body,
html,
p {
  font-size: 1em;
}

.container {
  width: 25%;
  border: 1px solid grey;
  text-align: center;
  border-radius: 1.1em;
  padding: 1rem;
}

.close {
  font-size: 2em;
  color: blue;
  position: absolute;
  z-index: 99;
  margin-left: 24.5%;
  margin-top: -2.2%;
}

.container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.avatar {
  max-height: 100%;
  max-width: 100%;
  border-radius: 50%;
}

.cards {
  border-top: 1px solid grey;
  margin-top: 2em;
  padding: 2rem;
}
